<section class="home">
  <!-- Contenedor general -->
  <div class="container">
    <!-- Caja de bienvenida -->
    <article class="welcome-card">
      <h2 class="welcome-title">
        BIENVENIDO A <span>SMARTSTORE</span>
      </h2>

      <div class="welcome-grid">
        <p>
          Smartstore es una tienda online de tecnología móvil especializada en la venta
          de teléfonos inteligentes de última generación. Ofrecemos una amplia variedad
          de marcas y modelos con precios competitivos, garantía y soporte técnico confiable.
        </p>
        <p>
          Nuestro objetivo es que encuentres el smartphone perfecto para ti, con envíos
          rápidos, pago seguro y promociones exclusivas. En Smartstore, conectamos tu
          mundo con la mejor tecnología.
        </p>
      </div>
    </article>

    <!-- Features -->
    <section class="features">
      <div class="feature">
        <div class="feature-card">
          <div class="icon">
            <!-- Usa Material icon o una imagen propia -->
            <img src="img\entrega-rapida.png" alt="entrega_rapida" width="150" height="150" />
          </div>
          <h3>Envíos Rápidos</h3>
        </div>
      </div>

      <div class="feature">
        <div class="feature-card">
          <div class="icon">
            <img src="img\pago-seguro.png" alt="pago_seguro" width="150" height="150" />
          </div>
          <h3>Pago Seguro</h3>
        </div>
      </div>

      <div class="feature">
        <div class="feature-card">
          <div class="icon">
            <img src="img\promocion.png" alt="promocion" width="150" height="150" />
          </div>
          <h3>Promociones Excelentes</h3>
        </div>
      </div>
    </section>
  </div>
</section>

